.devis {
    padding: 22px 43px;
    border: 2px solid #194099;
    border-radius: 15px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: var(--blue-color);
}

.devis:hover {
    background: #194099;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    color: #FFFFFF;
}

.devis-items {
    margin-top: 110px;
    margin-bottom: 110px;
    margin-left: 35%;
}

